
  table{
    background-color: rgb(0, 255, 255);
  }
  tr{
    color: rgb(0, 119, 255);
  }
  td{
    color: rgb(1, 73, 43);
  }
  @media only screen and (min-width: 400px) {
    table{
      background-color: rgb(57, 122, 243);
      width: 100%;
    }
    tr{
      color: rgb(22, 19, 19);
      width: 100%;
    }
    td{
      color: rgb(0, 225, 255);
      border: none;
    }
  }
  /* .logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
  }
  .logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  } */
  /* .logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  } */
  