#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}
#result-table{
  margin: 0;
  padding:30px;
}
table{
  background-color: rgb(106, 255, 255);
  padding: 5px;
  width: 100%;
}
tr{
  color: rgb(3, 73, 50);
  padding: 5%;
 width: 100%;
}
td{
  color: rgb(131, 115, 91);
  width: auto;
}
/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
} */
/* .logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */
